
.navegação {
   padding: 20px 0;
}

.caixa {
   position: relative;
   width: 400px;
   margin: 0 auto;
}

nav li {
   display: inline;
   margin: 0 0 0 15px;
}

nav a {
   text-transform: uppercase;
   color: black;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;    
}

nav a:hover {
   color: rgb(255, 136, 0);
   text-decoration: underline;
}

h1{
   font-size: 60px;
   font-weight: bold;
   margin-left: 20px;
}

.produtos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover{
	border-color: #c78c19;
	font-size: 40px;

}

.produtos li:hover h2{
	font-size: 38px;
}

.produtos li:active{
	border-color: rgb(0, 175, 0);
}


.produtos h2 {
	font-size: 30px;
	font-weight: bold;
   color: rgb(214, 176, 49);
}



.descriçao{
	font-size: 18px;
	

}


.preço {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

.acompanhamento{
   font-size: 20px;
}

footer{
	text-align: center;
	background: url(fundo.png);
	padding: 40px 0;
}