h1 {
    font-weight: bold;
    font-size: 250%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}

h2{
    font-size: 27px;
    font-weight: bold;
    text-align:center;
    color:red;
}

.h2_p {
    padding: 5px 0 25 0;
}

h3 {
    font-size: 27px;
    font-weight: bold;
    text-align:center;
    color: blue;
}