h1 {
    font-weight: bold;
    font-size: 250%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
}

h2{
    font-size: 27px;
    font-weight: bold;
    text-align:center;
    color:red;
}

.h2_p {
    margin-left: 10px;
    margin-right: 25px;
    margin-bottom: 30px;
}

h3 {
    font-size: 27px;
    font-weight: bold;
    text-align:center;
    color: blue;
}