h1 {
    font-weight: bold;
    font-size: 250%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align:center;
    background-color: red;
    border-radius: 15px;
}

h2{
    font-size: 27px;
    font-weight: bold;
    text-align:center;
    color:red;
    margin-top:20px ;
}

.h2_p1 {
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 25px;
}

.h2_p2{
    margin-bottom: 30px;
    margin-left:10px ;
    margin-right:25px ;
}


h3 {
    font-size: 27px;
    font-weight: bold;
    text-align:center;
    color: blue;
}